/* Add these styles to your CSS file or component styles */

.circle-card-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the height and width to create a square shape */
  width: 200px;
  overflow: hidden;
  border-radius: 50%; /* Make it circular */
  margin: 0 auto; /* Center the circular image */
}

.circle-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular area */
  border-radius: 50%; /* Make it circular */
}
/* Add this style to your CSS file or component styles */

.card {
  margin-bottom: 2px; /* Adjust the value to set the desired gap between cards */
}
